/*------- common Designs------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
    padding-top: 50px;
   background-color: #fff8f3;
   background: url("../images/developer.png"),url("../images/header_bg.png"),#fff8f3;
   background-repeat: no-repeat,no-repeat;
   background-position:left bottom,bottom right;
}
.orrange-button{
    font-size: 20px;
    font-weight: 600;
    background-color: #fd6e0a;
    color: #fff;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
}
.white-button{
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    color: #fd6e0a;
    border: 1px solid #fd6e0a;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
}
/*-------XXXXXXXXXX------ */

/*--------navbar styles-----*/

nav{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    color: #181818FF;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
.logo h2 span{
    color:#FD6E0A
}
.manue{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
.manue li a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
    
}
/*--------XXXXXXXXXXXX-----*/
/*--------banner styles-----*/

.banner{
    /* border: 1px solid red; */
   margin:30px 38px 0px 190px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.banner-content h2{
    color: #474747FF;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 12px;
}
.banner-content h1{
    font-size: 85px;
    color: #181818FF;
    font-weight: 700;
     white-space: nowrap;
     margin-bottom: 34px;
}
.banner-content p{
    font-size: 17px;
    color: #757575FF;
    font-weight: 400;
    margin-bottom: 30px; 
}
.banner-content .banner-button{
    display: flex;
    gap: 20px;
}
.banner-img img{
    max-width: 570px;
    verticle-align: middle;
}
/*--------XXXXXXXXXXXX-----*/

/*---------about me section------- */
#about-me{
    padding: 130px 230px;
    
}
#about-me .about-container{
    background-color: #fff8f3FF;
    padding: 131px 157px 137px 156px;
}
#about-me .about-container .about-heading h2{
    text-align: center;
    padding-bottom: 30px;
    color: #181818FF;
    font-weight: 700;
    font-size: 35px;
}
#about-me .about-container .about-heading p{
    text-align: center;
    color: #757575FF;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}
#about-me .about-container .about-info{
    display: flex;
    justify-content: space-between;
}
#about-me .about-container .about-info .about-info-card
{
    text-align: center;
} 
#about-me .about-container .about-info .about-info-card h4{
   color: #474747FF;
   font-size: 20px;
   font-weight: 400;
}
#about-me .about-container .about-info .about-info-card p{
    color: #474747FF;
    font-size: 20px;
    font-weight: 700;
}

/*--------XXXXXXXXXXXX-----*/